name: Welcome New Contributors

on:
  pull_request_target:
    types: [opened]
  issues:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: |
            Welcome to Learn to Contribute! Thanks for opening your first issue here.

            A maintainer will take a look soon. In the meantime, check out our [guides](../../tree/main/guides) if you haven't already.

            Happy contributing!
          pr-message: |
            Welcome to Learn to Contribute! Thanks for opening your first pull request here.

            A maintainer will review your changes soon. While you wait, make sure you've checked the boxes in the PR template above.

            Congratulations on taking the first step into open source! Once you're ready for more, check out [OSS Notify](https://www.ossnotify.com) to find issues matched to your skills.
